$blueColor: rgb(137, 207, 240);
$ptSerif:  'PT Serif', serif;
$ptSans:  'PT Sans', sans-serif;

@import "mobileVer";
@import "imgGrid";
@import "desktopVer";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    overflow-x: hidden;
    max-width: 1400px;
    margin: 0 auto;
}

img{
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}

.row1{
    height: 300px;
}

.col1{
    width: 160px;
}

.col3{
    width: 320px;
}

.row2{
    height: 320px;
}

.row4{
    height: 275px;
}

.item9{
    grid-area: 3 / 3 / 5 / 4;
}
  
.proba{
    display: inline;
}