$blueColor: rgb(137, 207, 240);
$ptSerif:  'PT Serif', serif;
$ptSans:  'PT Sans', sans-serif;

@import "mobileVer";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

img{
    width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }
    
    .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
    }
    
    .column img {
    margin-top: 12px;
    vertical-align: middle;
    width: 100%;
    }
    
    @media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        }
    }
    
    @media screen and (max-width:400px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        }
    }
    


  
