@media only screen and (min-width: 580px) {
  .subtitle-description {
    font-size: 19px !important;
  }
}

@media only screen and (max-width: 799px) {
  .grid-container {
    display: none !important;
  }
}

@media only screen and (min-width: 800px) {
  .cropped1 {
    height: 300px !important;
    width: inherit !important;
  }
  .cropped2 {
    height: 320px !important;
    width: inherit !important;
  }
  .padd-corection {
    padding-left: 60px;
  }
  .row {
    display: none !important;
  }
  .second-row {
    padding: 75px 0 !important;
  }
  .numbered-section {
    color: white;
    height: 100% !important;
    padding: 60px;
    font-size: 4.5em !important;
  }
}

@media only screen and (max-width: 1400px) {
  #header {
    position: relative;
    text-align: center;
    color: white;
    margin: 0 10px;
  }
  #header img {
    width: 100%;
  }
  #header-description {
    color: black;
    margin: 25px 0;
    font-weight: 500;
  }
  #centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white;
    width: 100%;
  }
  #centered h1 {
    font-family: "PT Serif", serif;
  }
  #centered p {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .colored {
    background-color: #89cff0;
  }
  .numbered-section {
    color: white;
    padding: 65px;
    padding: 70px 0;
    text-align: center;
    font-size: 8em;
    font-family: "PT Serif", serif;
  }
  .first-row {
    margin-bottom: 10px;
  }
  .second-row {
    height: 440px;
    padding: 150px 0;
  }
  .third-row {
    height: 350px;
    padding: 100px 0;
  }
  .subtitle-txt {
    color: black;
    letter-spacing: 2px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .subtitle-description {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 8px;
  }
  .cropped1 {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 20% 50%;
       object-position: 20% 50%;
  }
  .cropped2 {
    width: 200px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 75% 8%;
       object-position: 75% 8%;
  }
  .cropped3 {
    width: 200px;
    height: 220px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 75% 8%;
    object-position: 75% 8%;
  }
  #footer {
    padding: 0 50px;
  }
  #footer-title {
    color: black;
    letter-spacing: 2px;
    font-family: "PT Serif", serif;
    font-weight: 800;
    font-size: 45px;
    text-transform: uppercase;
  }
  #footer-text {
    text-align: inherit;
  }
  #zem {
    color: #89cff0;
    font-size: 3em;
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
  #footer-img {
    width: 100%;
    padding: 10px;
  }
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column {
  -ms-flex: 25%;
  -webkit-box-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 10px;
}

.column img {
  margin-top: 12px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    -webkit-box-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .subtitle-txt {
    font-size: 16px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 15px;
  background-color: red;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.row1 {
  height: 300px;
}

.col1 {
  width: 160px;
}

.col3 {
  width: 320px;
}

.row2 {
  height: 320px;
}

.item9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 5 / 4;
}
/*# sourceMappingURL=layoutTest.css.map */